/*-- scss:defaults --*/

h1.title {
    font-family: Vollkorn;
}

h1 {
    font-family: Vollkorn;
}

h2 {
    font-family: Vollkorn;
}

h2.anchored {
    font-family: Vollkorn;
}

h3 {
  font-family: Vollkorn;
}

/*
code a:any-link {
    font-family: Fira Code; 
    color: #0253a2;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #6c757d;
    font-style: inherit;
}

code span.va {
    font-family: Fira Code;
    color: #000000;
    font-weight: bold;
    font-style: inherit;
}

div.cell {
  font-family: Fira Code;
}
pre.sourceCode {
    font-family: Fira Code;
    border-left: 3px;
    border-left-style: solid;
    border-left-color: #000;
    padding-left: 0.6em;
    border-right: none;
    border-top: none;
    border-bottom: none;
    font-size: .875em;
    overflow: visible !important;
    padding: 0.4em;
}
*/

.nav-tabs {
  .nav-link.active,
  .nav-link.active:focus,
  .nav-link.active:hover,
  .nav-item.open .nav-link,
  .nav-item.open .nav-link:focus,
  .nav-item.open .nav-link:hover {
    color: #ecf0f1;
  }
}

