/*-- scss:defaults --*/

$color_1: var(--color-blue);
$color_2: var(--color-purple);
$color_3: var(--color-dodgerblue );
$color_4: var(--color-darkgreen);
$color_5: var(--color-orange);
$color_6: #fff;
$color_7: var(--color-white);
$background-color_1: var(--color-gray);
$background-color_2: var(--color-graylight);
$background-color_3: rgb(206, 233, 255);
$background-color_4: transparent;
$background-color_5: var(--color-black);
$background-color_6: #000;

/*
Adapted from and inspired by:
- Allison Hill's css in this workshop:
https://github.com/rstudio-education/arm-workshop-rsc2019
- Silvia Canelón's css in this workshop:
https://silvia.rbind.io/talk/2020-11-03-xaringan-basics-and-beyond/
*/
/*--- COLOR VARIABLES ---*/
/*--- LINKS/ANCHORS ---*/
/*--- SLIDE PROPERTIES ---*/
/* Background glow color around main slide container */
/* Background color of container behind slide */
/* Background color of slide */
/*--- CODE ---*/
/* Background color for highlighted code */
/* Color of inline code, i.e. `code` */
/* Code chunk colors */
/* Code chunk output */
/* https://stackoverflow.com/questions/50919104/horizontally-scrollable-output-on-xaringan-slides */
/* FOOTER */
/* IMAGES */
/*--- COLUMN LAYOUTS ---*/
/* Table Row Highlighting */
/* turns off slide numbers for title page: https://github.com/gnab/remark/issues/298 */
&:root {
	--color-white: #FFFFFF;
	--color-red: #E74A2F;
	--color-orange: #fa7b3c;
	--color-yellow: #EFB73E;
	--color-gold: #e5bf00;
	--color-green: #38B44A;
	--color-darkgreen: #2c8475;
	--color-blue: #007bff;
	--color-lightblue: #cce5ff;
	--color-dodgerblue: #1E90FF;
	--color-darkblue: #003087;
	--color-purple: #772953;
	--color-black: #121212;
	--color-graylight: #EAE9EA;
	--color-gray: #696969;
	--color-tan: #d9d9d9;
}
a {
	color: $color_1;
	border-bottom: none;
	&:visited {
		color: $color_2;
		border-bottom: none;
	}
	&:hover {
		color: $color_2;
		background: rgba(97, 172, 240, .5);
		border-bottom: none;
	}
	&:focus {
		color: $color_2;
		background: rgba(97, 172, 240, .5);
		border-bottom: none;
		color: $color_2;
	}
	>code {
		color: $color_1;
		text-decoration: none;
	}
}
.inverse {
	a {
		color: $color_3;
		text-decoration: underline;
		&:visited {
			color: $color_3;
			text-decoration: underline;
		}
		&:hover {
			color: $color_2;
		}
	}
	.remark-inline-code {
		color: $color_5;
		background-color: $background-color_4;
	}
	background-color: $background-color_5;
	color: $color_7;
	text-shadow: 0 0 0;
	img {
		display: block;
		border: 0px solid #000;
	}
}
.remark-slide-scaler {
	-moz-box-shadow: 0 0 0px #000;
	-webkit-box-shadow: 0 0 0px #000;
}
.remark-slide-container {
	background-color: $background-color_1;
}
.remark-slide-content {
	background-color: $background-color_2;
	padding-top: 20px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 20px;
}
.title-slide {
	padding: 0;
	.remark-slide-number {
		display: none;
	}
}
.remark-code-line-highlighted {
	background-color: $background-color_3;
}
.remark-inline-code {
	color: $color_4;
	background-color: $background-color_4;
	border-radius: 5px;
}
.hljs-github {
	.hljs {
		background: #fff;
		border-radius: 5px;
		border: 1px solid #000;
	}
}
.remark-code {
	display: block;
	overflow-x: auto;
	padding: .5em;
	color: $color_6;
	background: var(--color-gray);
}
pre {
	background-color: $background-color_6;
	border-radius: 5px;
	max-width: 100%;
	overflow-x: auto;
	margin: 0.5em 0px;
	white-space: pre-wrap;
}
.remark-slide-number {
	bottom: 18px;
	opacity: 0.5;
	position: absolute;
	right: 20px;
}
.footnote {
	position: absolute;
	bottom: 2em;
	padding-right: 4em;
	font-size: 70%;
	line-height: 1em;
}
div.footer-large {
	position: absolute;
	bottom: 150px;
	right: 50px;
	height: 100px;
	width: 100%;
	margin-bottom: 0px;
}
div.footer-small {
	background-color: $background-color_5;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 20px;
	width: 100%;
	span {
		font-size: 10pt;
		color: $color_7;
		position: absolute;
		left: 15px;
		bottom: 2px;
	}
}
div.footer-link {
	background-color: $background-color_5;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
}
a.footer-link {
	position: absolute;
	bottom: 4px;
	right: 0px;
	height: 30px;
	width: 300px;
	color: $color_1;
	border-bottom: none;
	font-size: 0.7em;
	opacity: 0.6;
}
.polaroid {
	img {
		display: block;
		border: 10px solid #fff;
		border-bottom: 45px solid #fff;
		-webkit-box-shadow: 3px 3px 3px #111;
		-moz-box-shadow: 3px 3px 3px #111;
		box-shadow: 3px 3px 3px #111;
	}
}
img {
	display: block;
	border: 0px solid #000;
}
.noborder {
	img {
		display: block;
		border: 0px solid #000;
	}
}
.border {
	img {
		display: block;
		border: 2px solid #000;
	}
}
.borderthick {
	img {
		display: block;
		border: 7px solid #000;
	}
}
.whiteborder {
	img {
		display: block;
		border: 2px solid #fff;
	}
}
.whiteborderthick {
	img {
		display: block;
		border: 7px solid #fff;
	}
}
.circle {
	img {
		border-radius: 50%;
	}
}
.thumbnail {
	img {
		width: 15%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
.cols3 {
	width: 32%;
	float: left;
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
}
.leftcol {
	float: left;
	width: 49%;
}
.rightcol {
	float: right;
	width: 49%;
}
.leftcol55 {
	float: left;
	width: 54%;
}
.rightcol45 {
	float: right;
	width: 44%;
}
.leftcol45 {
	float: left;
	width: 44%;
}
.rightcol55 {
	float: right;
	width: 54%;
}
.leftcol60 {
	float: left;
	width: 59%;
}
.rightcol40 {
	float: right;
	width: 39%;
}
.leftcol40 {
	float: left;
	width: 39%;
}
.rightcol60 {
	float: right;
	width: 59%;
}
.leftcol65 {
	float: left;
	width: 64%;
}
.rightcol35 {
	float: right;
	width: 34%;
}
.leftcol35 {
	float: left;
	width: 34%;
}
.rightcol65 {
	float: right;
	width: 64%;
}
.leftcol70 {
	float: left;
	width: 69%;
}
.rightcol30 {
	float: right;
	width: 29%;
}
.leftcol30 {
	float: left;
	width: 29%;
}
.rightcol70 {
	float: right;
	width: 69%;
}
.leftcol75 {
	float: left;
	width: 74%;
}
.rightcol25 {
	float: right;
	width: 25%;
}
.leftcol25 {
	float: left;
	width: 25%;
}
.rightcol75 {
	float: right;
	width: 74%;
}
.leftcol80 {
	float: left;
	width: 79%;
}
.rightcol20 {
	float: right;
	width: 19%;
}
.leftcol20 {
	float: left;
	width: 19%;
}
.rightcol80 {
	float: right;
	width: 79%;
}
.remark-slide {
	table {
		border-collapse: collapse;
		thead {
			th {
				border-bottom: 1px solid #666;
			}
		}
	}
	.inverse {
		table {
			border-top: 3px solid #666;
			border-bottom: 3px solid #666;
			thead {
				th {
					border-top: 3px solid #666;
					border-bottom: 3px solid #666;
				}
			}
		}
		thead {
			background: transparent;
		}
		tfoot {
			background: transparent;
		}
		tr {
			&:nth-child(even) {
				background: transparent;
			}
		}
	}
	thead {
		background: var(--color-tan);
	}
	tfoot {
		background: var(--color-tan);
	}
	tr {
		&:nth-child(even) {
			background: var(--color-tan);
		}
	}
}
.table-blank {
	tr {
		&:nth-child(even) {
			background: transparent;
		}
	}
}
.no-slide-number {
	.remark-slide-number {
		display: none;
	}
}
