/*-- scss:defaults --*/

$color_1: #000;
$color_2: #fff;
$color_3: var(--color-white);
$color_4: var(--color-red);
$color_5: var(--color-orange);
$color_6: var(--color-yellow);
$color_7: var(--color-green);
$color_8: var(--color-darkgreen);
$color_9: var(--color-blue);
$color_10: var(--color-darkblue);
$color_11: var(--color-purple);
$color_12: var(--color-black);
$color_13: var(--color-gray);
$font-family_1: var(--font-body);
$font-family_2: var(--font-header);
$font-family_3: var(--font-fancy);
$font-family_4: var(--font-mono);
$background-color_1: var(--color-lightblue);

@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap";
/* Additional font sizes */
&:root {
	--font-body: inter,-apple-system,BlinkMacSystemFont,roboto,segoe ui,Helvetica,Arial,sans-serif;
	--font-header: "Fira Sans Condensed",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
	--font-mono: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono",monospace;
	--font-fancy: 'Lobster Two',cursive;
}
body {
	font-family: $font-family_1;
	font-weight: 400;
	color: $color_1;
}
strong {
	font-family: $font-family_1;
	font-weight: 900;
	color: $color_1;
}
.inverse {
	strong {
		font-family: $font-family_1;
		font-weight: 900;
		color: $color_2;
	}
}
h1 {
	font-family: $font-family_2;
	font-weight: 400;
	line-height: 1.1;
	margin-top: 5px;
	margin-bottom: 5px;
}
h2 {
	font-family: $font-family_2;
	font-weight: 400;
	line-height: 1.1;
	margin-top: 5px;
	margin-bottom: 5px;
}
h3 {
	font-family: $font-family_2;
	font-weight: 400;
	line-height: 1.1;
	margin-top: 5px;
	margin-bottom: 5px;
}
h4 {
	font-family: $font-family_2;
	font-weight: 400;
	line-height: 1.1;
}
h5 {
	font-family: $font-family_2;
	font-weight: 400;
	line-height: 1.1;
}
h6 {
	font-family: $font-family_2;
	font-weight: 400;
	line-height: 1.1;
}
@rules {
	0 {
	}
	1 {
	}
}
blockquote {
	border-left: solid 5px lightgray;
	padding-left: 1em;
	border: 3px solid var(--color-blue);
	border-radius: 10px;
	background-color: $background-color_1;
	font-family: $font-family_2;
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,.2);
}
.fira {
	font-family: $font-family_2;
}
.fancy {
	font-family: $font-family_3;
	font-weight: 400;
	font-style: italic;
}
.remark-slide-content {
	font-size: 20pt;
	h1 {
		font-size: 42pt;
	}
	h2 {
		font-size: 34pt;
	}
	h3 {
		font-size: 27pt;
	}
	h4 {
		font-size: 24pt;
		font-weight: bold;
	}
}
.slimtitle {
	font-family: $font-family_2;
	font-weight: 500;
	font-size: 55px;
	margin-block-start: 0em;
	margin-block-end: 0.1em;
}
.remark-code {
	font-family: $font-family_4;
	font-size: 20px;
}
.remark-inline-code {
	font-family: $font-family_4;
}
.white {
	color: $color_3;
}
.red {
	color: $color_4;
}
.orange {
	color: $color_5;
}
.yellow {
	color: $color_6;
}
.green {
	color: $color_7;
}
.darkgreen {
	color: $color_8;
}
.blue {
	color: $color_9;
}
.darkblue {
	color: $color_10;
}
.purple {
	color: $color_11;
}
.black {
	color: $color_12;
}
.gray {
	color: $color_13;
}
.small {
	font-size: 70%;
}
.large {
	font-size: 160%;
}
.code10 {
	.remark-code {
		font-size: 10%;
	}
}
.code20 {
	.remark-code {
		font-size: 20%;
	}
}
.code30 {
	.remark-code {
		font-size: 30%;
	}
}
.code40 {
	.remark-code {
		font-size: 40%;
	}
}
.code50 {
	.remark-code {
		font-size: 50%;
	}
}
.code60 {
	.remark-code {
		font-size: 60%;
	}
}
.code70 {
	.remark-code {
		font-size: 70%;
	}
}
.code80 {
	.remark-code {
		font-size: 80%;
	}
}
.code90 {
	.remark-code {
		font-size: 90%;
	}
}
.code100 {
	.remark-code {
		font-size: 100%;
	}
}
.font10 {
	font-size: 10%;
}
.font20 {
	font-size: 20%;
}
.font30 {
	font-size: 30%;
}
.font40 {
	font-size: 40%;
}
.font50 {
	font-size: 50%;
}
.font60 {
	font-size: 60%;
}
.font70 {
	font-size: 70%;
}
.font80 {
	font-size: 80%;
}
.font90 {
	font-size: 90%;
}
.font100 {
	font-size: 100%;
}
.font110 {
	font-size: 110%;
}
.font120 {
	font-size: 120%;
}
.font130 {
	font-size: 130%;
}
.font140 {
	font-size: 140%;
}
.font150 {
	font-size: 150%;
}
.font160 {
	font-size: 160%;
}
.font170 {
	font-size: 170%;
}
.font180 {
	font-size: 180%;
}
.font190 {
	font-size: 190%;
}
.font200 {
	font-size: 200%;
}
